
/* ---------GLOBAL--------- */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

/* ---------GLOBAL--------- */


/* ---------HEADER--------- */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
}

.logo-black {
    color: #2e2f42;
}

.header-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: none;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.header-icon-close-btn {
    fill: #2e2f37;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-menu {
    display: none;
}

.navigation-link {
    display: none;

}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: none;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-menu {
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 16px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu-btn {
    display: flex;
    margin-left: auto;
    margin-bottom: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.mob-navigation-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-navigation-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-navigation-link.current {
    color:#404bbf;
}

.mob-address-list {
    margin-bottom: 48px;
}

.mob-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.mob-address-tel-link {
    color: #4d5ae5;
}

.mob-address-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-menu-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* ---------HEADER--------- */

/* ---------HERO--------- */

.hero {
    background-color: #2e2f42;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-tel@2x.jpg');
    }
}

.title-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 72px;
    max-width: 216px;
}  

.button-order {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover, .button-order:focus {
    background-color: #404BBF;
}


/* ---------HERO--------- */

/* ---------SECTION 2 BENEFITS--------- */

.benefits {
    background-color: #FFFFFF;
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.icon-container {
    display: none;
}

.benefit-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefit-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ---------SECTION 2 BENEFITS--------- */

/* ---------SECTION 3 TEAM--------- */

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team .container {
    max-width: 296px;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-member-descr {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.member-descr {
 padding: 32px 0;
}

.team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.member-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-links-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.icon {   
    fill: #f4f4fd;
}


/* ---------SECTION 3 TEAM--------- */

/* ---------SECTION 4 PORTFOLIO--------- */
.portfolio {
    background-color: #FFFFFF;
    padding: 96px 0;
}

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-card {
    width: 100%;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-descr {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none
}

.portfolio-item {
    margin-bottom: 8px;
}

.portfolio-card-picture-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-card-wrap-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---------SECTION 4 PORTFOLIO--------- */

/* ---------FOOTER--------- */

.footer {
    background: #2e2f42;
    padding: 96px 0;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.logo-white {
    color: #f4f4fd;
}

.text-block-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
    margin-bottom: 72px;
}

.social-links-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links-list-footer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 72px;
}

.social-text-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.form-text-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.modal-input-footer {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    opacity: 0.6;
}

.modal-input-footer::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color:#fff;
}

.footer-form-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    border: none;
    display: flex;
    background-color: #4d5ae5;
}

.form-icon-footer {
    fill: #fff;
    margin-left: 16px;
}



/* ---------FOOTER--------- */


/* ---------MODAL--------- */

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal {
    position: absolute;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5; 
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-textarea {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    background-color: transparent;
    outline: transparent;
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-input-wrap {
    position: relative;
}

.form-icons {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%; 
    transform: translateY(-50%);
}

.form-policy-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.form-policy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.form-check-style {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    fill: transparent;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check:checked + .form-policy-text .form-check-style {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}

.form-check-icon {
    display: inline-flex;
}

.modal-policy-field {
    margin-bottom: 24px;
    margin-top: 16px;
}

.modal-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* ---------MODAL--------- */




/* ---------TABLET--------- */
@media screen and (min-width:768px) {
    
 .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
 }

  /* HEADER */
  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }

 .header-close-btn {
    display: none;
 }

 .navigation-menu {
    display: flex;
    align-items: center;
    gap: 40px;
 }

 .navigation-link {
     display: block;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
     padding: 24px 0;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .navigation-link.current {
     position: relative;
 }

 .navigation-link.current::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: -1px;
     border-radius: 2px;
     width: 100%;
     height: 4px;
     background-color: #404bbf;
 }

 .address-list {
     display: flex;
     flex-direction: column;
     gap: 12px;
 }

 .address-link {
     font-weight: 400;
     font-size: 12px;
     font-style: normal;
     line-height: 1.16;
     letter-spacing: 0.04em;
     color: #434455;
     padding: 24px 0;
 }

 .mob-menu {
    display: none;
 }

  /* HEADER */

  /* HERO */
 .hero {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
 }

 @media screen and (min-resolution: 2x) {
     .hero {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-tab@2x.jpg');
     }
 }
 
  .title-main {
     font-size: 56px;
     line-height: 1.07;
     margin-bottom: 36px;
     max-width: 496px;
 }    
  /* HERO */

  /* BENEFITS */
 .benefits-list {
    column-gap: 24px;
    row-gap: 72px;
 }
       
 .benefits-list-item {
     width: calc((100% - 24px) / 2);
 }

 .benefit-item {
    text-align: left;
 } 
    /* BENEFITS */


    /* TEAM */
 .team .container {
    max-width: 584px;
 }
 
 .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
 }

 .team-member-descr {
    width: calc((100% - 24px) / 2)
 }
   /* TEAM */


   /* PORTFOLIO */
 .portfolio-list {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 72px;
 }    

 .portfolio-card {
    width: calc((100% - 24px) / 2);
 }
    /* PORTFOLIO */

    
    /* FOOTER */
  .footer .container {
      max-width: 584px;
  }

 .footer-container {
     display: flex;
     align-items: baseline;
     flex-direction: row;
     flex-wrap: wrap;
 }

 .footer-text {
     max-width: 264px;
     margin-bottom: 0;
 }

 .text-block-footer {
     align-items: flex-start;
     margin-right: 24px;
     margin-bottom: 72px;
 }

 .social-links-footer {
     align-items: flex-start;
 }

 .social-links-list-footer {
     display: flex;
     gap: 16px;
     margin-bottom: 0;
 }

 .footer-form-container {
     align-items: flex-start;
 }

 .footer-form {
     display: flex;
     flex-direction: row;
     gap: 24px;
 }

    /* FOOTER */

    /* MODAL */
 .modal {
    width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
 }
    /* MODAL */
}
/* ---------TABLET--------- */




/* ---------DESKTOP--------- */
@media screen and (min-width: 1158px) {
 .container, .team .container, .footer .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
 }

 .section-title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     text-transform: capitalize;
     color: #2e2f42;
 }

 .section-text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }
 
    /* HEADER */
 .header-container {}

 .logo {
    margin-right: 76px;
 }

 .navigation-link:hover,
 .navigation-link:focus,
 .address-link:hover,
 .address-link:focus,
 .navigation-link.current {
     color: #404BBF;
 }

 .address {
     font-style: normal;
     margin-left: auto;
 }
 
 .address-list {
     flex-direction: row;
     align-items: center;
     gap: 40px;
 }

 .address-link {
     font-size: 16px;
     font-style: normal;
     line-height: 1.5;
     letter-spacing: 0.02em;
     padding: 24px 0;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

    /* HEADER */

    /* HERO */
 .hero {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
 }

 @media screen and (min-resolution: 2x) {
     .hero {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office@2x.jpg');
     }
 }
 
    .title-main {
    margin-bottom: 48px;
    max-width: 496px;
 }   
    /* HERO */

    /* BENEFITS */
 .benefits {
    padding: 120px 0;
    }

 .benefits-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    }

 .benefits-list-item {
    width: calc((100% - 48px) / 3);
    }

 .icon-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    }

 .benefit-item {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
 }
    /* BENEFITS */


    /* TEAM */    
 .team {
     padding: 120px 0;
 }

 .team-list {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     gap: 24px;
 }

 .team-member-descr {
     width: calc((100% - 72px) / 4);
 }
    /* TEAM */

    /* PORTFOLIO */
 .portfolio {
     padding: 120px 0;
 }

 .portfolio-list {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;
 }

 .portfolio-card {
     width: calc((100% - 48px) / 3);
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .portfolio-card:hover {
     box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }

.portfolio-card:hover .portfolio-card-wrap-text {
    transform: translateY(0);
}
    /* PORTFOLIO */


    /* FOOTER */
 .footer {
     padding: 100px 0;
 }

 .footer-container {
     flex-wrap: nowrap;
 }

 .text-block-footer {
    margin-right: 120px;
    margin-bottom: 0;
 }


 .social-link-footer:hover,
 .social-link-footer:focus {
     background-color: #31d0aa;
 }

 .footer-form-container {
    margin-left: auto;
 }

 .modal-input-footer {
    opacity: 1;
 }

 .footer-form-btn {
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .footer-form-btn:hover,
 .footer-form-btn:focus {
     background-color: #31d0aa;
 }
    /* FOOTER */

    /* MODAL */
 .modal-close-btn:hover,
 .modal-close-btn:focus {
     background-color: #404bbf;
     border: none;
 }

 .modal-close-btn:hover,
 .modal-close-btn:focus .icon-close-btn {
     fill: #ffffff;
 }

 .modal-input:focus {
     border-color: #4d5ae5;
 }
}
 .modal-textarea {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-textarea:focus {
     border-color: #4d5ae5;
 }

 .form-icons {
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-input:focus+.form-icons {
     fill: #4d5ae5;
 }

 .modal-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-btn:hover,
 .modal-btn:focus {
     background-color: #404BBF;
 }
   /* MODAL */

/* ---------DESKTOP--------- */
